# Yaml file for github actions
name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Playwright tests
      run: |
        pytest tests/ui/test_contact.py
    - name: Generate Allure Report
      run: |
        allure generate allure-results --clean -o allure-report
    - name: Deploy Allure Report
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: allure-report
    - name: Upload Allure Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: allure-report
        path: allure-report